/* CSS declarations go here */
.slider1 {
	background-color: red;
	position: absolute;
	left: 50%;
	transform-origin: 75px 75px;
	transform: rotate(-90deg);
}
.slider2 {
	background-color: green;
	position: absolute;
	left: 50%;
	transform-origin: 75px 75px;
	transform: rotate(-90deg);
}
.slider3{
	background-color: blue;
	position: absolute;
	left: 50%;
	transform-origin: 75px 75px;
	transform: rotate(-90deg);
}
.slider4{
	background-color: yellow;
	position: absolute;
	left: 50%;
	transform-origin: 75px 75px;
	transform: rotate(-90deg);
}
path {
				stroke: black;
				stroke-width: 1;
				fill: none;
			}
svg {
    border: 2px solid black;
    background-color: rgba(128, 128, 128, 0.16);
}
.axis {
	font-size: 10;
	shape-rendering: crispEdges;
}
.label {
	font-size: 13;
	font-weight: bold;
}
.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: red;
  stroke: black;
}