//Colors
$grey: #dddddd;
$light-grey: #f9f9f9;

//Spacing
$space: 1.4rem;
$site-max-width: 50rem;

//Font sized
$base-font-size: 1.2rem;


//Form Inputs
$input-border: $grey;
$input-spacing: 1rem;

//Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

//Button
$button-bg: #7E8B94;
$button-color: white;
$button-pill-color: #7E8B94;

//Header
$header-bg: #4A4F52;
$header-col: white;

//Item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);