.chart {

}

.chart__content {
	// display: flex;
	justify-content: space-between;
	max-width: $site-max-width;
	margin: auto;
	margin-top: 2.2rem;
	padding: 0;
}

.chart__header {
	
	//border: 2px solid;
}

.chartBox {
	

	//border: 2px solid;
}