.item {
	background: $item-bg;
	border: 1px solid $item-border;
	margin-top: $space;
	margin-bottom: $space;
	padding: $space;

	//margin: 3rem auto;
  //max-width: 50rem;
  //text-align: center;
}

.item--level {
	//border: 2px solid;
	display: inline-block;
	margin: $space;
	margin-left: 15rem;
	width: 5rem;
}

.item--trials {
	//border: 2px solid;
	display: inline-block;
	margin: $space;
	width: 5rem;
}

.item--accuracy {
	//border: 2px solid;
	display: inline-block;
	margin: $space;
	width: 10rem;
}